<div class="deta" id="deta">
	<div class="title">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	<div class="tous">
		<div class="toux"></div>
		<div class="geren">
			<span class="name"></span>
			<span class="jibie"></span>
			<span class="time"></span>
		</div>
		<div class="gz">关注</div>
	</div>
	<div class="biaoti">
		<h1>你不是不努力，你是不会努力!</h1>
		<span class="yue">12373次阅 · 3582 字</span>
	</div>
	<div class="weiz">
		<p>有一天，有个读者留言“为什么看了你很多文章，也学习了其他资料书籍，花费很多时间，也很努力，却没有什么改变？”
		</p>
		<p>碰到这样的问题，我其实见怪不怪了，然后熟练的输入一大推反问“你看完文章、资料、书籍后，又笔记、总结吗？你花费的很多时间。具体有多少？你所谓努力，努力到什么程度？天天废寝忘食吗？，你是否有根据文章资料i提到的方法。去实践。”
		</p>
	</div>
	<div class="tab">
		<div class="left">添加评论</div>
		<ul></ul>l class="right">
			<li class="wei">113</li>
			<li class="like">750</li>
			<li class="fen"></li>
		</ul>
	</div>
</div>	