<div class="content" id="jianshuchuban">
  <div class="xxnr">
    <ul class="list">
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书出版</span>
                <span class="time">06.06 12:08</span>
            </div>
            <div class="weiz">
                <span>咬牙坚持，你终将成就无与伦比的自己——夏苏末</span>
            </div>
            <div class="jies">
                <span>15840次阅 · 38评论 · 268喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>      
    </ul>
</div>
<div>