<div class="content" id="jianshuboke">
  <div class="xxnr">
    <ul class="list">
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书播客</span>
                <span class="time">06.09 15:37</span>
            </div>
            <div class="weiz">
                <span>简书播客#第十五期 恋人间最好的状态是什么样的？</span>
            </div>
            <div class="jies">
                <span>5313次阅 · 12评论 · 59喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书播客</span>
                <span class="time">06.09 15:37</span>
            </div>
            <div class="weiz">
                <span>简书播客#第十五期 恋人间最好的状态是什么样的？</span>
            </div>
            <div class="jies">
                <span>5313次阅 · 12评论 · 59喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书播客</span>
                <span class="time">06.09 15:37</span>
            </div>
            <div class="weiz">
                <span>简书播客#第十五期 恋人间最好的状态是什么样的？</span>
            </div>
            <div class="jies">
                <span>5313次阅 · 12评论 · 59喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书播客</span>
                <span class="time">06.09 15:37</span>
            </div>
            <div class="weiz">
                <span>简书播客#第十五期 恋人间最好的状态是什么样的？</span>
            </div>
            <div class="jies">
                <span>5313次阅 · 12评论 · 59喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>  
    </ul>

</div>

<div>