<div class="content" id="qiriremen">
  <div class="xxnr">
    <ul class="list">
        <li class="carid">
            <div class="left">
               <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/1.png" alt="">
                </div>
                <span class="ming">二杯清茶</span>
                <span class="time">06.01 01：44</span>
            </div>
            <div class="weiz">
                <span>手机不用来这样学英语，太浪费了</span>
            </div>
            <div class="jies">
                <div class="xf">工具癖</div>
                <span>36271次阅 · 488评论 · 2395喜欢 · 2打赏</span>
            </div>
        </div>
        <div class="right">
            <img ng-src="image/qiri/4.png" alt="">
        </div>
    </li>
    <li class="carid">
        <div class="left">
           <div class="name">
            <div class="tu">
                <img ng-src="image/qiri/1.png" alt="">
            </div>
            <span class="ming">二杯清茶</span>
            <span class="time">06.01 01：44</span>
        </div>
        <div class="weiz">
            <span>手机不用来这样学英语，太浪费了</span>
        </div>
        <div class="jies">
            <div class="xf">工具癖</div>
            <span>36271次阅 · 488评论 · 2395喜欢 · 2打赏</span>
        </div>
    </div>
    <div class="right">
        <img ng-src="image/qiri/4.png" alt="">
    </div>
</li>
<li class="carid">
    <div class="left">
       <div class="name">
        <div class="tu">
            <img ng-src="image/qiri/3.png" alt="">
        </div>
        <span class="ming">二杯清茶</span>
        <span class="time">06.01 01：44</span>
    </div>
    <div class="weiz">
        <span>手机不用来这样学英语，太浪费了</span>
    </div>
    <div class="jies">
        <div class="xf">工具癖</div>
        <span>36271次阅 · 488评论 · 2395喜欢 · 2打赏</span>
    </div>
</div>
<div class="right">
<img ng-src="image/qiri/5.png" alt="">
</div>
</li>
<li class="carid">
    <div class="left">
       <div class="name">
        <div class="tu">
            <img ng-src="image/qiri/2.png" alt="">
        </div>
        <span class="ming">二杯清茶</span>
        <span class="time">06.01 01：44</span>
    </div>
    <div class="weiz">
        <span>手机不用来这样学英语，太浪费了</span>
    </div>
    <div class="jies">
        <div class="xf">工具癖</div>
        <span>36271次阅 · 488评论 · 2395喜欢 · 2打赏</span>
    </div>
</div>
<div class="right">
    <img ng-src="image/qiri/6.png" alt="">
</div>
</li>
</ul>

    </div>

<div>