<div class="content" id="redian">
<div class="swiper-container" id="content">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="image/lunbo/a.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="image/lunbo/b.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="image/lunbo/c.png" alt="">
        </div>
        <div class="swiper-slide">
            <img src="image/lunbo/d.png" alt="">
        </div>
         <div class="swiper-slide">
            <img src="image/lunbo/f.png" alt="">
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
    <div class="xxnr">
        <ul class="list">
            <li class="carid">
                <div class="left">
                     <div class="name">
                        <div class="tu">
                            <img ng-src="image/list/1.png" alt="">
                        </div>
                        <span class="ming">顾一寰</span>
                        <span class="time">21小时前</span>
                    </div>
                    <div class="weiz">
                        <span>别再说舍不得放不下，你只是失恋了不甘心</span>
                    </div>
                    <div class="jies">
                        <div class="xf">想法</div>
                        <span>2608次阅 · </span><span>210评论 · </span><span>168喜欢</span>
                    </div>
                </div>
                <div class="right">
                    <img ng-src="image/list/2.png" alt="">
                </div>
            </li>
            <li class="carid">
                <div class="left">
                     <div class="name">
                        <div class="tu">
                            <img ng-src="image/list/1.png" alt="">
                        </div>
                        <span class="ming">顾一寰</span>
                        <span class="time">21小时前</span>
                    </div>
                    <div class="weiz">
                        <span>别再说舍不得放不下，你只是失恋了不甘心</span>
                    </div>
                    <div class="jies">
                        <div class="xf">想法</div>
                        <span>2608次阅 · </span><span>210评论 · </span><span>168喜欢</span>
                    </div>
                </div>
                <div class="right">
                    <img ng-src="image/list/2.png" alt="">
                </div>
            </li>

        </ul>

    </div>
</div>

