<div class="content" id="ribao">
  <div class="xxnr">
        <ul class="list">
            <li class="carid">
                <div class="left">
                     <div class="name">
                        <div class="tu">
                            <img ng-src="image/list/8.png" alt="">
                        </div>
                        <span class="ming">简书日报</span>
                        <span class="time">6小时前</span>
                    </div>
                    <div class="weiz">
                        <span>简书晚报160609——《要么写作，要么去死》</span>
                    </div>
                    <div class="jies">
                        <span>5563次阅 · </span><span>8评论 · </span><span>119喜欢</span>
                    </div>
                </div>
                <div class="right">
                    <img ng-src="image/list/9.png" alt="">
                </div>
            </li>
            <li class="carid">
                <div class="left">
                     <div class="name">
                        <div class="tu">
                            <img ng-src="image/list/8.png" alt="">
                        </div>
                        <span class="ming">简书日报</span>
                        <span class="time">16小时前</span>
                    </div>
                    <div class="weiz">
                        <span>简书早报160609——《无话则长——对我苏16高考作文题吐个</span>
                    </div>
                    <div class="jies">
                        <span>7197次阅 · </span><span>10评论 · </span><span>81喜欢</span>
                    </div>
                </div>
                <div class="right">
                    <img ng-src="image/list/10.png" alt="">
                </div>
            </li>
			<li class="carid">
                <div class="left">
                     <div class="name">
                        <div class="tu">
                            <img ng-src="image/list/8.png" alt="">
                        </div>
                        <span class="ming">简书日报</span>
                        <span class="time">0.6.08 17:51</span>
                    </div>
                    <div class="weiz">
                        <span>简书晚报160608——《在创业公司工作是一种怎样的体验？》</span>
                    </div>
                    <div class="jies">
                        <span>8985次阅 · </span><span>11评论 · </span><span>162喜欢</span>
                    </div>
                </div>
                <div class="right">
                    <img ng-src="" alt="">
                </div>
            </li>
            <li class="carid">
                <div class="left">
                     <div class="name">
                        <div class="tu">
                            <img ng-src="image/list/8.png" alt="">
                        </div>
                        <span class="ming">简书日报</span>
                        <span class="time">06.08 10:38</span>
                    </div>
                    <div class="weiz">
                        <span>简书早报160608——《理财，是这个时代最大的鸡汤》</span>
                    </div>
                    <div class="jies">
                        <span>8456次阅 · </span><span>9评论 · </span><span>120喜欢</span>
                    </div>
                </div>
                <div class="right">
                    <img ng-src="image/list/11.png" alt="">
                </div>
            </li>
        </ul>

    </div>

<div>