<div class="content" id="sanshiriremen">
  <div class="xxnr">
    <ul class="list">
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">lydia晓洁</span>
                <span class="time">05.14 13:52</span>
            </div>
            <div class="weiz">
                <span>建立逻辑思维，我推荐3本书</span>
            </div>
            <div class="jies">
                <div class="xf">读书</div>
                <span>52436次阅 · 2275评论 · 5509喜欢 · 20打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
         <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">lydia晓洁</span>
                <span class="time">05.14 13:52</span>
            </div>
            <div class="weiz">
                <span>建立逻辑思维，我推荐3本书</span>
            </div>
            <div class="jies">
                <div class="xf">读书</div>
                <span>52436次阅 · 2275评论 · 5509喜欢 · 20打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">lydia晓洁</span>
                <span class="time">05.14 13:52</span>
            </div>
            <div class="weiz">
                <span>建立逻辑思维，我推荐3本书</span>
            </div>
            <div class="jies">
                <div class="xf">读书</div>
                <span>52436次阅 · 2275评论 · 5509喜欢 · 20打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
    </ul>

</div>

<div>