<div class="content" id="shiji">
  <div class="xxnr">
    <ul class="list">
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书包</span>
                <span class="time">06.01 19:02</span>
            </div>
            <div class="weiz">
                <span>简书包十二期 · 煮字为药以祛暑</span>
            </div>
            <div class="jies">
                <span>5976次阅 · 12评论 · 68喜欢 · 1打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书包</span>
                <span class="time">06.01 19:02</span>
            </div>
            <div class="weiz">
                <span>简书包十二期 · 煮字为药以祛暑</span>
            </div>
            <div class="jies">
                <span>5976次阅 · 12评论 · 68喜欢 · 1打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书包</span>
                <span class="time">06.01 19:02</span>
            </div>
            <div class="weiz">
                <span>简书包十二期 · 煮字为药以祛暑</span>
            </div>
            <div class="jies">
                <span>5976次阅 · 12评论 · 68喜欢 · 1打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书包</span>
                <span class="time">06.01 19:02</span>
            </div>
            <div class="weiz">
                <span>简书包十二期 · 煮字为药以祛暑</span>
            </div>
            <div class="jies">
                <span>5976次阅 · 12评论 · 68喜欢 · 1打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书包</span>
                <span class="time">06.01 19:02</span>
            </div>
            <div class="weiz">
                <span>简书包十二期 · 煮字为药以祛暑</span>
            </div>
            <div class="jies">
                <span>5976次阅 · 12评论 · 68喜欢 · 1打赏</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
    </ul>
</div>
<div>