<div class="content" id="youjianghuodong">
  <div class="xxnr">
    <ul class="list">
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>
        <li class="carid">
            <div class="left">
             <div class="name">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <span class="ming">简书活动精选</span>
                <span class="time">06.08 16:29</span>
            </div>
            <div class="weiz">
                <span>"时光机，带我回到最美的时光"赛果公布</span>
            </div>
            <div class="jies">
                <span>3325次阅 · 20评论 · 56喜欢</span>
            </div>
            </div>
            <div class="right">
                <img ng-src="image/qiri/9.png" alt="">
            </div>
        </li>      
    </ul>
</div>
<div>