<div class="content" id="zttuijian">
  <div class="neir">
    <ul class="list">
        <li class="carid">
            <div class="left">
                <div class="tu">
                    <img ng-src="image/qiri/8.png" alt="">
                </div>
                <div class="guanz">关注</div>
            </div>
            <div class="right">
                 <span class="ming">连载</span>
                <div class="jies">
                    <span>21214篇文章 · 84495人关注</span>
                 </div>
                 <div class="weizi">请大家收藏连载的导航主页:http//:www.jianshu.com/p/aaf6d3d979e2</div>
                 <div class="wei">
                 本专题收录的作品类型：各种类别的小说、有特定...</div>
            </div>
        </li>    
    </ul>
  </div>
</div>