<div class="swiper-container" id="shanping">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img ng-src="image/shanping/3.png" alt="">
            <a ng-click="enter()" class="tiaog">跳过</a>
        </div>
        <div class="swiper-slide">
            <img ng-src="image/shanping/4.png" alt="">
            <a ng-click="enter()" class="tiaog">跳过</a>
        </div>
        <div class="swiper-slide">
            <img ng-src="image/shanping/1.png" alt="">
            <a ng-click="enter()" class="tiaog">跳过</a>
        </div>
        <div class="swiper-slide">
            <img ng-src="image/shanping/2.png" alt="">
            <a ng-click="enter()" class="jianshu">进入简书</a>
        </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>