<div class="tab" id="tab">
	<ul class="tab-bar">
		<li class="tabw">
		<a ng-class="{active:title=='发现'}" href="#/redian" ng-click="title='发现'">发现</a>
		</li>
		<li class="tabt">
			<a ng-class="{active:title=='关注'}" href="#/guanzhu" ng-click="title='关注'">关注</a>
		</li>
		<li class="tabs">
			<a ng-class="{active:title=='编辑'}" href="#/bianji" ng-click="title='编辑'"></a>
		</li>
		<li class="tabf">
			<a ng-class="{active:title=='消息'}" href="#/xiaoxi" ng-click="title='消息'">消息</a>
		</li>
		<li class="tabwo">
			<a ng-class="{active:title=='我的'}" href="#/wode" ng-click="title='我的'">我的</a>
		</li>
	</ul>
</div>